<div class="footer">
  <span>© <a href="/">2017 - 2018 </a><%= config.title%></span>
  <div class="by_farbox">
    <a href="https://hexo.io/zh-cn/" target="_blank">published with Hexo!</a>
  </div>
</div>
