<div class="pagination">
  <ul class="clearfix">
    <% if (page.prev) { %>
      <li class="pre pagbuttons">
        <a class="btn" role="navigation" href="<%= page.prev_link %>"><%= __('prev') %></a>
      </li>
    <% } %>
    <% if (page.next) { %>
      <li class="next pagbuttons">
        <a class="btn" role="navigation" href="<%= page.next_link %>"><%= __('next') %></a>
      </li>
    <% } %>
  </ul>
</div>
