doctype
html(lang="zh-CN")
  head
    include head

  body
    include sidebar
    .main
      include nav

      block content

    script(src= url_for('js/jquery.js'))
    script(src= url_for('js/jquery-migrate-1.2.1.min.js'))
    script(src= url_for('js/jquery.appear.js'))
    script(src= url_for('js/highlight.min.js'))
    script.
      hljs.initHighlightingOnLoad();
    script.
      var _hmt = _hmt || [];
      (function() {
      var hm = document.createElement("script");
      hm.src = "https://hm.baidu.com/hm.js?6841feb8f957cb46c539de8d51dfb18b";
      var s = document.getElementsByTagName("script")[0]; 
      s.parentNode.insertBefore(hm, s);
      })();
