.sidebar.animated.fadeInDown
  .followme
    a(href="http://github.com/" + theme.github target="_block") follow me
    
  .logo-title
    .title
      img(src= url_for('images/logo@2x.png'))
      h3(title="")
        a(href="/")= config.title
      if theme.description
        .description
          p= theme.description

  ul.social-links
    if theme.twitter
      li
        a(href="https://twitter.com/" + theme.twitter target="_block")
          i.fa.fa-twitter
    if theme.github
      li
        a(href="http://github.com/" + theme.github target="_block")
          i.fa.fa-github
    if theme.rss
      li
        a(href= url_for(theme.rss))
          i.fa.fa-rss
    if theme.weibo
      li
        a(href="http://weibo.com/" + theme.weibo target="_block")
          i.fa.fa-weibo
  - if (path.split('/index.html')[0] === 'index.html')
    .search.search-mobile
      input(type="text" placeholder="标题或内容" maxlength="100")
      i.fa.fa-search
  include footer
