extends partial/layout

block site_title
  != page.title + " · "

block description
  - var desc = page.desc || strip_html(page.content).replace(/^\s*/, '').replace(/\s*$/, '').substring(0, 150);
  meta(name="description", content=desc)

block content
  .autopagerize_page_element: .content: .post-page
    include mixins
    - var pageCode = page.path.split('/index.html')[0];
    - if (pageCode === 'tags')
      +make_tags(page)
    - else if (pageCode === 'categories')
      +make_categories(page)
    - else if (pageCode === 'search')
      +make_search(page)
    - else
      +make_post(page, true)
      include partial/comments
