<div class="autopagerize_page_element">
  <div class="content">
    <div class="category animated fadeInDown">
      <ul class="list-with-title">
        <%- partial('posts/postlist') %>
        <%- partial('component/pagination') %>
      </ul>
    </div>
  </div>
</div>
