<div class="autopagerize_page_element">
  <div class="content">
    <div class="post-page">
      <%- partial('posts/makepost') %>
      <%- partial('component/share') %>
      <%- partial('component/pagination') %>
      <%- partial('partial/comments') %>
    </div>
  </div>
</div>
